/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('bg.jpg');
  background-size: cover; /* Adjusts image size to cover the entire body */
  background-color: #f2f2f2; /* Fallback color if the image doesn't load */
}

header {
  color: #fff;
  text-align: center;
  padding: 20px 0;
 
}

header h1 {
  margin: 0;
  color: #FFF;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(202, 202, 202, 0.5); /* Use an RGBA color with reduced opacity */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.2); /* Apply box-shadow for glass effect */
  color: #FFF;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;  
}



input[type="number"],
input[type="tel"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 100px;
}

/* Add this CSS to your existing styles */
.input-group input[type="number"],
.input-group input[type="tel"],
.input-group select {
  flex: 2;
  max-width: 100px; /* Set the maximum width for input fields */
}

/* Add this CSS to your existing styles */
.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}




button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  max-width: 150px;
}

/* Result container */
#resultContainer,
#generatedLinkContainer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  main {
    padding: 10px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 202, 202, 0.5); /* Use an RGBA color with reduced opacity */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.2); /* Apply box-shadow for glass effect */
  z-index: 1;
  overflow: auto;
}

.popup-content {
  background-color: rgba(179, 178, 178, 0.9); /* Use an RGBA color with reduced opacity */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #aaa; /* Adjust border color */
  width: 80%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.2); /* Apply box-shadow for gloss effect */
  border-radius: 10px; /* Rounded corners for a smoother look */
}


.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  font-size: 24px;
}

/* Add this CSS to your stylesheet or inside a <style> tag in your HTML */
#gstTable {
  border-collapse: collapse;
  width: 100%;
}

#gstTable td,
#gstTable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#gstTable th {
  background-color: #f2f2f2;
}

#gstTable tr:nth-child(even) {
  background-color: #f9f9f900;
}

#gstTable tr:hover {
  background-color: #f1f1f1;
}




